<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Tugas Akhir PBO">
        <meta name="author" content="Yanuar Nurul Hilal">
        <title>SiMaskam</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/tambahbarang.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/indexstyle.css}">
        <link rel="icon" th:href="@{/images/logo.png}" />
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');
        </style>
</head>

    <body>
    <section class="header">
        <nav>
            <a th:href="@{/admin}" class="logo"><span class="fName">Si</span>Maskam</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a th:href="@{/admin}">Beranda</a></li>
                <li><a th:href="@{/barang}">Barang</a></li>
                <li><a th:href="@{/sumber}">Sumber</a></li>
                <li><a th:href="@{/aset}">Aset Masuk</a></li>
                <li><a class ='button' th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </section>

     <section class="booking">
            <h1>Form Edit Aset</h1>
         <p>Silakan untuk mengubah informasi pada aset terkait</p>
            <div class="wrap">
                <form id="form" method="post" th:object="${aset}" th:action="@{/aset/editaset/submit}">
                    <div class="inputBox">
                        <h3>Nama Barang</h3>
                        <select id="barang" name="barang.id">
                            <option th:each="barang : ${barangs}"
                                    th:value="${barang.id}"
                                    th:text="${barang.nama}"
                                    th:selected="${barang.id == aset.barang.id}"></option>
                        </select>
                        <input th:field="${aset.id}" type="hidden" id="id" name="id">
                    </div>
                    <div class="inputBox">
                        <h3>Nama Vendor</h3>
                        <select id="sumber" name="sumber.id">
                            <option th:each="sumber : ${sumbers}"
                                    th:value="${sumber.id}"
                                    th:text="${sumber.vendor}"
                                    th:selected="${sumber.id == aset.sumber.id}"></option>
                        </select>
                    </div>
                    <input type="submit" class="btn" value="Submit" style="margin-top: 15px;">
                </form>

            </div>
        </section>
    <script th:src="@{/js/indexJS.js}"></script>
</body>
</html>